<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <script>
        function validatePasswords(event) {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var message = document.getElementById("message");

        if (password !== confirmPassword) {
          message.textContent = "Passwords do not match.";
          event.preventDefault();
        } else {
          message.textContent = "";
        }
      }
    </script>
</head>
<body>
    <di class="container text-center">
        <div>
            <h2>Change new password</h2>
        </div>
        <form th:action="@{/forgot-password/reset-password}" method="post" onsubmit="validatePasswords(event)" style="max-width: 350px; margin: ® auto;" > 
        <input type="hidden" name="token" th:value="${token}" />
        <div class="border border-secondary rounded p-3">
            <div>
                Please type your new password
            </div>
            <div>

                <label for="password">Password:</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Enter your password"
                  required autofocus
                /><br /><br />
          
                <label for="confirmPassword">Confirm Password:</label>
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  required autofocus/>
                <span id="message" style="color: red"></span><br /><br />        

                <p class="text-center">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </p>
                <!-- <p>
                    <a th:href="@{/forgot_password}">Forgot your password?</a>
                </p> -->
            </div>
        </div>
        </form>
    </div>
</body>
</html>